@font-face {
  font-family: "PitchSansWeb-Regular";
  src: url("./PitchSansWeb-Regular.eot");
  src: url("./PitchSansWeb-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./PitchSansWeb-Regular.woff2") format("woff2"),
    url("./PitchSansWeb-Regular.woff") format("woff");
}
.hello {
  color: red;
  background: url("./icon.png");
  font-family: 'PitchSansWeb-Regular';
}
